@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
}

/* Lenis recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}